<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @collection.user_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @collection.item_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @collection.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @collection.brand %>
</p>

<p>
  <strong>Category:</strong>
  <%= @collection.category %>
</p>

<p>
  <strong>Total:</strong>
  <%= @collection.total %>
</p>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
